@media print
{
   @page {
      size: A4;
   }
   body {
      font-family: "Roboto", sans-serif;
      color: $text-color-secondary !important;
      background: $smoky-white !important;
      font-size: 14px;
      padding: 0px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
   }

   * {
      -webkit-transition: none !important;
      transition: none !important;
    }

   .pagebreak { page-break-before: always; }

   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
     font-weight: 700;
     color: $text-color-secondary !important;
   }

   p, li{
      color: $text-color-secondary !important;
   }

   a{
      color: darken($theme-color, 15%) !important;
   } 

   a[href]:after {
      content: none !important;
   }

   .wrapper {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      background: $theme-color !important;
      max-width: 1000px;
      margin: 0 auto;
      position: static;
      order: 2;
      -webkit-print-color-adjust: exact;
   }

   .sidebar-wrapper {
      font-size: 13px;
      grid-column: span 3;
      -webkit-print-color-adjust: exact !important; 
      background: $theme-color !important;
      color: #fff !important;
    
      a {
        color: #fff !important;
      }
    
      .profile-container {
        padding: 30px;
        //background: darken($theme-color, 10%);
        background: rgba(0, 0, 0, 0.2) !important;
        text-align: center;
        color: #fff !important;
      }
    
      .name {
        color: #fff !important;
      }
    
      .tagline {
        color: rgba(256, 256, 256, 0.6) !important;
      }

      .avatar {
         //used for profile image
         max-width: 100px !important;
         -webkit-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.1))
      }

       .contact-list {
         .ai,
         .fas,
         .fab,
         .far
         {
           margin-right: 5px;
           font-size: 18px;
           vertical-align: middle;
         }
         .ai::before,
         .fas::before,
         .fab::before,
         .far::before {
            color: #fff !important;
         }
     
         li {
           margin-bottom: 15px;
     
           &:last-child {
             margin-bottom: 0;
           }
         }
      }

      .container-block-title {
         color: #fff !important;
      }

      .languages-container {
         .lang-desc {
           color: rgba(256, 256, 256, 0.6) !important;
         }
       }
     
       .languages-list {
         margin-bottom: 0;
     
         li {
           margin-bottom: 10px;
           color: #fff !important;
     
           &:last-child {
             margin-bottom: 0;
           }
         }
       }
   }


   .main-wrapper {
      grid-column: span 7;        
      background: #fff !important;
      -webkit-print-color-adjust: exact; 
      padding: 45px;
      text-align: justify;
      text-justify: inter-word;

      .fa-circle::before {
         color: darken($theme-color, 15%) !important;
      }

      .fas-inverse::before,
      .fab-inverse::before,
      .far-inverse::before {
         color: #fff !important;
         //background: $theme-color !important;
      }

      .section-title {
         color: darken($theme-color, 15%) !important;
       }      

       .skills-section {
         .column {
           text-align: left;
           float: left;
           width: 100%;
           padding: 10px;
         }
     
         .row:after {
           content: "";
           display: table;
           clear: both;
         }
       }

       .job-title,
       .degree {
         color: $text-color !important;
       }

       .time {
         color: $text-grey !important;
       }

       .company,
       .university {
         color: $text-grey !important;
       }

       .publication-authors {
         color: $text-grey !important;
       }

       .skillset {      
         .level-bar {
           background: $smoky-white !important;
           -webkit-print-color-adjust: exact; 
         }
       
         .level-bar-inner {
           background: lighten($theme-color, 15%) !important;
           -webkit-print-color-adjust: exact; 
         }
       }
   }


    .remove-container.container-block {
       display: none;
    }

    footer {
       display: none;
    }

   .fa-inverse,
   .fa-inverse:after,
   .fa-inverse:before {
     color: #ffffff !important;
   }

}
